body {background: url(images/bg-img.png) !important;background-repeat: repeat;}
h1, h2{font-size:24px;}
.pointer{cursor:pointer;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.w-100{width:100%;}
.bg-light-gray{background-color:#e8e8e8;}
.border-left-5 {border-left: 5px solid;}
.list-style-circle{list-style-type:circle;}
.list-style-none{list-style-type:none;}
.bg-light-green{background: #d4edda;}
.bg-light-blue{background: #d1ecf1;}
.bg-light-orange{background: #fff3cd;}
.bg-light-pink{background: #f8d7da;}
.btn-secondary{background:#6c757d;color:#fff;}
.btn-secondary:hover{background:#6c757d;color:#fff;}
.login-box, .register-box {width: 90% !important;margin: 10% auto !important;max-width: 400px !important;}
.form-control{border: 1px solid #ced4da !important;    border-radius: .25rem !important;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;}
.form-control:focus {color: #495057;background-color: #fff;border-color: #80bdff;outline: 0;box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);}
.btn, .btn.btn-flat{border-radius:3px !important;}

.mt-1{margin-top:5px;}
.mb-1{margin-bottom:5px;}
.mt-2{margin-top:10px;}
.mb-2{margin-bottom:10px;}
.mt-3{margin-top:15px;}
.mb-3{margin-bottom:15px;}


.table th{background-color:#222d32; color:#fff;}
.table th a{color:#fff;}

.admin-logo{height:50px; width:auto;}
.skin-blue .main-header .logo, .skin-blue .main-header .navbar, .skin-blue .main-header .navbar{/*background-color:#f8f8f8 !important;*/ background-color:#d4edda !important;}
.skin-blue .main-header .logo:hover, .skin-blue .main-header .navbar:hover{/*background-color:#f8f8f8 !important;*/ background-color:#d4edda !important}
.skin-blue .main-header .navbar .sidebar-toggle{color:#313131 !important;}
.skin-blue .main-header .navbar .sidebar-toggle:hover{background-color:rgba(0,0,0,0.1) !important;}
.skin-blue .main-header .navbar .nav>li>a{color:#313131 !important;}
 
 .grid-view table td p{margin-bottom:0px;}
 
 /* login, register pages */ 
 .login-box, .register-box {width: 90% !important;margin: 10% auto !important;max-width: 350px !important;background: rgba(245, 245, 245, 0.8);
box-shadow: 1px 1px 15px #ccc;border-radius: 5px;}
.login-box-body, .register-box-body{background:transparent !important;}
.form-control{border: 1px solid #ced4da !important;    border-radius: .25rem !important;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;}
.form-control:focus {color: #495057;background-color: #fff;border-color: #80bdff;outline: 0;box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;}
.btn, .btn.btn-flat{border-radius:3px !important;}
.login-logo.text-center{width:100%;text-align:center;}
.login-logo.text-center img.img-responsive{display:inline-block;margin-top:25px;}
.login-box-body, .register-box-body{padding:0 30px 30px 30px;}
.login-box-msg, .register-box-msg{font-size:18px;}
/* login, register pages ends */
 .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {/*background-color: #f8f8f8 !important;*/ background-color:rgba(245,245,245,0.9) !important;}
.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a{color:#313131 !important;}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn{background-color:#f8f8f8 !important; border:none !important;}
.skin-blue .sidebar-form {border-radius: 3px;border: 1px solid #ced4da !important;margin: 10px 10px;}
.skin-blue .sidebar-menu>li.header{color: #4b646f;background-color: #f8f8f8 !important;font-weight: bold;border-bottom: 1px dashed #ccc;}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {color: #fff !important;background: #29534F !important;}
.skin-blue .sidebar a {color: #313131 !important;}
.skin-blue .sidebar-menu>li>.treeview-menu {margin: 0 1px;background: #29534F !important;}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {color: #fff !important;}
.skin-blue .sidebar-menu .treeview-menu>li>a{color:#fff !important;}
.filters-links a{color:#000;}
a.visitedlink{font-weight:bold; color:#3c8dbc !important;}