html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/* question answer */
.question{
width:49%;
height: auto;
background-color: #f9f9f9;
padding: 5px 10px;
border-radius: 10px;
float: left;
margin-right: 10px;
}
.response{
width:50%;
height: auto;
background-color: #f9f9f9;
padding: 5px 10px;
border-radius: 10px;
text-align: left;
float: right;
margin-left: 10px;
}
.profile-img{
    border-radius: 50%;
    width:30px;
}
/*
.response {
    float: right;
    background: white;
	margin-top: 5px;
    width: 45%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
	clear:both;
	margin-bottom:10px;
}
.question {
    float: left;
    background: whitesmoke;
	margin-top: 5px;
    width: 45%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
	clear:both;
	margin-bottom:10px;
}
.response:after {
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: 14px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}

.profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.question span, .response span{ float:left;}*/