@font-face {
    font-family: "Nova Regular";
    font-weight: 200;	
	src: url('../fonts/proxima-nova/proxima-nova-soft-regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/proxima-nova/proxima-nova-soft-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/proxima-nova/proxima-nova-soft-regular-webfont.woff') format('woff'), /* Modern Browsers */
		url('../fonts/proxima-nova/proxima-nova-soft-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/proxima-nova/proxima-nova-soft-regular.otf')  format('opentype'),
		url('../fonts/proxima-nova/proxima-nova-soft-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */	
}

@font-face {
    font-family: "Nova Medium";
    font-weight: 200;
    src: url('../fonts/proxima-nova/proxima-nova-soft-medium-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/proxima-nova/proxima-nova-soft-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova/proxima-nova-soft-medium-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/proxima-nova/proxima-nova-soft-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/proxima-nova/proxima-nova-soft-medium.otf')  format('opentype'),
       url('../fonts/proxima-nova/proxima-nova-soft-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
} 

@font-face {
    font-family: "Nova Semibold";
    font-weight: 200;
    src: url('../fonts/proxima-nova/proxima-nova-soft-semibold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/proxima-nova/proxima-nova-soft-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova/proxima-nova-soft-semibold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/proxima-nova/proxima-nova-soft-semibold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/proxima-nova/proxima-nova-soft-semibold.otf')  format('opentype'),
       url('../fonts/proxima-nova/proxima-nova-soft-semibold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
} 

@font-face {
    font-family: "Nova Bold";
    font-weight: 200;
    src: url('../fonts/proxima-nova/proxima-nova-soft-bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/proxima-nova/proxima-nova-soft-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/proxima-nova/proxima-nova-soft-bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts/proxima-nova/proxima-nova-soft-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/proxima-nova/proxima-nova-soft-bold.otf')  format('opentype'),
       url('../fonts/proxima-nova/proxima-nova-soft-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
} 
/* common */
body{font-family:Nova Medium,arial,sans-serif; color: #29534F;}
#connect .section-title, .about h2, .features h2{font-family:Nova Bold,arial,sans-serif; color: #29534F;}
.login-title, .navbar-expand-md .navbar-nav .nav-link{font-family:Nova Semibold,arial,sans-serif;color: #29534F;}
footer, .btn{font-family:Nova Regular,arial,sans-serif;}
#page-data h1, h1.page-title, h2.page-title{color: #0072bc;font-weight: normal !important;}
.pointer{cursor:pointer;}
.bg-light-gray{background-color:#e8e8e8;}
.border-left-5 {border-left: 5px solid;}
.list-style-circle{list-style-type:circle;}
.list-style-none{list-style-type:none;}
.bg-light-green{background: #d4edda;}
.bg-light-blue{background: #d1ecf1;}
.bg-light-orange{background: #fff3cd;}
.bg-light-pink{background: #f8d7da;}

/* header */
a.nav-link {
    color: #000;
}
.container.main-header .top-15{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    top:15px;
}    
.container.main-header .top-15.top-0{
    top:0;
    background: #fff3cd;
    padding-top: 0;
    padding-bottom: 0;
}
.features .card:hover{
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

/* home page about section */
.container.about .col-sm-6 {
    padding-top: 80px;
}
.about .card {
    border: 2px dashed #ccc;
}
.about .card:hover {
    box-shadow: 0px 1px 10px #ccc;
    border-radius: 5px 25px;
}
.about .card-title {
    margin-top: 60px;
}
.card-body .img-icon {
    top: 0;
    left: 0;
    box-shadow:0px -1px 3px #ccc;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    padding: 20px;
}


/* images slider */
#slider .img-fluid{width:100%;height:auto;}
#sidebar .list-group-item:hover {background-color: #f1f1f1;}
#slider .carousel-indicators{bottom:-10px;}

/* login page */
.form-signin{max-width: 330px;padding: 15px;margin: 0 auto;}
.form-signin .form-signin-heading, .form-signin .checkbox{margin-bottom: 10px;}
.form-signin .checkbox{font-weight: normal;}
.form-signin .form-control{position: relative;font-size: 16px;height: auto;padding: 10px;  -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;   box-sizing: border-box;}
.form-signin .form-control:focus{z-index: 2;}
.form-signin input[type="text"]{ margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.form-signin input[type="password"]{margin-bottom: 10px;border-top-left-radius: 0;    border-top-right-radius: 0;}
.account-wall{ margin-top: 20px;padding: 40px 0px 20px 0px;background-color: #f7f7f7;  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}
.login-title{color: #555;font-size: 18px;font-weight: 400;display: block;}
.profile-img{width: 96px;height: 96px;margin: 0 auto 10px;display: block;    -moz-border-radius: 50%;   -webkit-border-radius: 50%;    border-radius: 50%;}
.need-help{ margin-top: 10px;}
.new-account{display: block;margin-top: 10px;}
/* login page */

/* gallery page  */
.gallery-wrapper .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

/* footer */
footer a{color: #f1f1f1;}
footer a:hover{color: aliceblue;}

@media(max-width:991px){
	.container, .container-fluid {max-width: 100%;}
	.table-responsive .table{min-width:750px;}
}

@media (max-width:768px){
    .site-logo img {
        max-width: 150px;
    }
    button.navbar-toggler {
        background: #000;
    }
    .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    #collapsibleNavbar{background: #f1f1f1;}
}
.question{
width:49%;
height: auto;
background-color: #f9f9f9;
padding: 5px 10px;
border-radius: 10px;
float: left;
margin-right: 10px;
}
.response{
width:50%;
height: auto;
background-color: #f9f9f9;
padding: 5px 10px;
border-radius: 10px;
text-align: left;
float: right;
margin-left: 10px;
}